/out/**
/cache/**
/.idea/**
/ffline/**
/broadcast/*/31337/**
/deploy/local-mainnet.*
/.env
/lcov.info
/lcov/**

/deploy/*.constants.json
/deploy/*.contracts.json

!/deploy/sample.constants.json
!/deploy/mainnet.constants.json
!/deploy/mainnet.contracts.json